h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #A18276;
  text-shadow: 1px 1px 0 black; 
}

html {
  background-color: #aac0aa
}

h2 {
  cursor: pointer;
  color: #A18276;
  outline: 2px;
  text-shadow: 1px 1px 0 black; 
  
  
}

ul {
  margin-left: 20px;
}

.puppy-details{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.home {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 2vw;
  cursor: pointer; 
  transition: background-color 0.3s, transform 0.3s; 
  width: auto;
  max-width: 200px;
}

li {
  cursor: pointer;
  color: #A18276;
  font-size: x-large;
  font-weight: bold;
}

li:hover {
  color: #CBE896;
  font-weight: bolder;
}